
@font-face {
	font-family: 'NoaLight';
	src: url(webfonts/NoaLTW02-Light.EOT);
	src:
		url(webfonts/NoaLTW02-Light.EOT?#iefix)
		format("embedded-opentype"),
		url(webfonts/NoaLTW02-Light.woff)
		format("woff"),
		url(webfonts/NoaLTW02-Light.ttf)
		format("truetype"),
		url(webfonts/NoaLTW02-Light.svg#NoaLight)
		format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'klmicons';
	src: url(/webfonts/klmicons.eot);
	src:
		url(webfonts/klmicons.eot?#iefix)
		format('embedded-opentype'),
		url(webfonts/klmicons.woff)
		format('woff'),
		url(webfonts/klmicons.ttf)
		format('truetype'),
		url(webfonts/klmicons.svg#klmicons)
		format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	color: #003145;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}

input,textarea,select {
	*font-size: 100%
}

legend {
	color: #000
}

.g-font-klm {
	font-family: 'NoaLight', verdana, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased
}

.g-klmicon {
	font-family: 'klmicons', verdana, arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	speak: none
}

.g-btn {
	padding: 0;
	margin: 0 .1em;
	border: 0;
	background: transparent;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.1em;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	font-family: inherit
}

button.g-btn::-moz-focus-inner {
	padding: 0;
	border: 0
}

button.g-btn,button:hover.g-btn {
	*padding: 0;
	*width: 1;
	*overflow: visible;
	*background: transparent
}

a.g-btn {
	*padding: .15em .1em
}

.g-btn span {
	display: inline-block;
	padding: 4px 14px
}

.g-btn span {
	color: #fff;
	border: 1px solid #0f6789;
	border-top-color: #66c6eb;
	border-left-color: #66c6eb;
	border-radius: 5px;
	background: #07a2de;
	background: -moz-linear-gradient(top, #07a2de 0, #10a5df 6%, #4eb3e3 35%, #5db6e4
		47%, #3fafe2 53%, #00a1de 59%, #00a1de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07a2de),
		color-stop(6%, #10a5df), color-stop(35%, #4eb3e3),
		color-stop(47%, #5db6e4), color-stop(53%, #3fafe2),
		color-stop(59%, #00a1de), color-stop(100%, #00a1de) );
	background: -webkit-linear-gradient(top, #07a2de 0, #10a5df 6%, #4eb3e3 35%, #5db6e4
		47%, #3fafe2 53%, #00a1de 59%, #00a1de 100%);
	background: -o-linear-gradient(top, #07a2de 0, #10a5df 6%, #4eb3e3 35%, #5db6e4 47%,
		#3fafe2 53%, #00a1de 59%, #00a1de 100%);
	background: -ms-linear-gradient(top, #07a2de 0, #10a5df 6%, #4eb3e3 35%, #5db6e4 47%
		, #3fafe2 53%, #00a1de 59%, #00a1de 100%);
	background: linear-gradient(top, #07a2de 0, #10a5df 6%, #4eb3e3 35%, #5db6e4 47%,
		#3fafe2 53%, #00a1de 59%, #00a1de 100%)
}

.g-btn:hover span {
	color: #fff;
	border: 1px solid #7fd0ee;
	border-top-color: #b2e2f5;
	border-left-color: #b2e2f5;
	background: #4fb3e3;
	background: -moz-linear-gradient(top, #c6e7f7 0, #85cced 24%, #6bc0e9 35%, #55b7e6
		47%, #20a7e0 53%, #05a3de 59%, #17a7e0 71%, #4fb3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6e7f7),
		color-stop(24%, #85cced), color-stop(35%, #6bc0e9),
		color-stop(47%, #55b7e6), color-stop(53%, #20a7e0),
		color-stop(59%, #05a3de), color-stop(71%, #17a7e0),
		color-stop(100%, #4fb3e3) );
	background: -webkit-linear-gradient(top, #c6e7f7 0, #85cced 24%, #6bc0e9 35%,
		#55b7e6 47%, #20a7e0 53%, #05a3de 59%, #17a7e0 71%, #4fb3e3 100%);
	background: -o-linear-gradient(top, #c6e7f7 0, #85cced 24%, #6bc0e9 35%, #55b7e6 47%
		, #20a7e0 53%, #05a3de 59%, #17a7e0 71%, #4fb3e3 100%);
	background: -ms-linear-gradient(top, #c6e7f7 0, #85cced 24%, #6bc0e9 35%, #55b7e6
		47%, #20a7e0 53%, #05a3de 59%, #17a7e0 71%, #4fb3e3 100%);
	background: linear-gradient(top, #c6e7f7 0, #85cced 24%, #6bc0e9 35%, #55b7e6 47%,
		#20a7e0 53%, #05a3de 59%, #17a7e0 71%, #4fb3e3 100%)
}

.g-btn-toneddown span {
	color: #00a1de;
	border-color: #a1cee5;
	border-top-color: #d9e8ee;
	border-left-color: #d9e8ee;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0, #fdfdfd 47%, #eaf7fc 53%, #dff3fb
		59%, #e8f6fc 76%, #eef8fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9),
		color-stop(47%, #fdfdfd), color-stop(53%, #eaf7fc),
		color-stop(59%, #dff3fb), color-stop(76%, #e8f6fc),
		color-stop(100%, #eef8fc) );
	background: -webkit-linear-gradient(top, #f9f9f9 0, #fdfdfd 47%, #eaf7fc 53%,
		#dff3fb 59%, #e8f6fc 76%, #eef8fc 100%);
	background: -o-linear-gradient(top, #f9f9f9 0, #fdfdfd 47%, #eaf7fc 53%, #dff3fb 59%
		, #e8f6fc 76%, #eef8fc 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0, #fdfdfd 47%, #eaf7fc 53%, #dff3fb
		59%, #e8f6fc 76%, #eef8fc 100%);
	background: linear-gradient(top, #f9f9f9 0, #fdfdfd 47%, #eaf7fc 53%, #dff3fb 59%,
		#e8f6fc 76%, #eef8fc 100%)
}

.g-btn-toneddown:hover span {
	color: #00a1de;
	border-color: #ceeaf8;
	border-top-color: #e1f2fa;
	border-left-color: #e1f2fa;
	background: #e0f1fa;
	background: -moz-linear-gradient(top, #f3fafd 0, #e0f1fa 47%, #b2e3f5 59%, #bae5f6
		71%, #d9eef9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3fafd),
		color-stop(47%, #e0f1fa), color-stop(59%, #b2e3f5),
		color-stop(71%, #bae5f6), color-stop(100%, #d9eef9) );
	background: -webkit-linear-gradient(top, #f3fafd 0, #e0f1fa 47%, #b2e3f5 59%,
		#bae5f6 71%, #d9eef9 100%);
	background: -o-linear-gradient(top, #f3fafd 0, #e0f1fa 47%, #b2e3f5 59%, #bae5f6 71%
		, #d9eef9 100%);
	background: -ms-linear-gradient(top, #f3fafd 0, #e0f1fa 47%, #b2e3f5 59%, #bae5f6
		71%, #d9eef9 100%);
	background: linear-gradient(top, #f3fafd 0, #e0f1fa 47%, #b2e3f5 59%, #bae5f6 71%,
		#d9eef9 100%)
}

.g-btn-primary span {
	color: #fff;
	border-color: #8c4e22;
	border-top-color: #eeaa7a;
	border-left-color: #eeaa7a;
	background: #e77b2f;
	background: -moz-linear-gradient(top, #ea8a45 0, #e9833a 29%, #e87d32 38%, #e77b2f
		48%, #e17122 52%, #da6a1a 57%, #dd6c1c 81%, #e06f1f 86%, #e17122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea8a45),
		color-stop(29%, #e9833a), color-stop(38%, #e87d32),
		color-stop(48%, #e77b2f), color-stop(52%, #e17122),
		color-stop(57%, #da6a1a), color-stop(81%, #dd6c1c),
		color-stop(86%, #e06f1f), color-stop(100%, #e17122) );
	background: -webkit-linear-gradient(top, #ea8a45 0, #e9833a 29%, #e87d32 38%,
		#e77b2f 48%, #e17122 52%, #da6a1a 57%, #dd6c1c 81%, #e06f1f 86%,
		#e17122 100%);
	background: -o-linear-gradient(top, #ea8a45 0, #e9833a 29%, #e87d32 38%, #e77b2f 48%
		, #e17122 52%, #da6a1a 57%, #dd6c1c 81%, #e06f1f 86%, #e17122 100%);
	background: -ms-linear-gradient(top, #ea8a45 0, #e9833a 29%, #e87d32 38%, #e77b2f
		48%, #e17122 52%, #da6a1a 57%, #dd6c1c 81%, #e06f1f 86%, #e17122 100%);
	background: linear-gradient(top, #ea8a45 0, #e9833a 29%, #e87d32 38%, #e77b2f 48%,
		#e17122 52%, #da6a1a 57%, #dd6c1c 81%, #e06f1f 86%, #e17122 100%)
}

.g-btn-primary:hover span {
	border-color: #eb9c64;
	border-top-color: #f3c3a1;
	border-left-color: #f3c3a1;
	background: #f19858;
	background: -moz-linear-gradient(top, #f7c29d 0, #f4ac7b 10%, #f3a36c 14%, #f19d61
		19%, #f19858 24%, #ec863e 48%, #df7226 52%, #d16112 57%, #d16112 71%,
		#d66515 76%, #d66515 81%, #da6a1a 86%, #e06f1f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7c29d),
		color-stop(10%, #f4ac7b), color-stop(14%, #f3a36c),
		color-stop(19%, #f19d61), color-stop(24%, #f19858),
		color-stop(48%, #ec863e), color-stop(52%, #df7226),
		color-stop(57%, #d16112), color-stop(71%, #d16112),
		color-stop(76%, #d66515), color-stop(81%, #d66515),
		color-stop(86%, #da6a1a), color-stop(100%, #e06f1f) );
	background: -webkit-linear-gradient(top, #f7c29d 0, #f4ac7b 10%, #f3a36c 14%,
		#f19d61 19%, #f19858 24%, #ec863e 48%, #df7226 52%, #d16112 57%,
		#d16112 71%, #d66515 76%, #d66515 81%, #da6a1a 86%, #e06f1f 100%);
	background: -o-linear-gradient(top, #f7c29d 0, #f4ac7b 10%, #f3a36c 14%, #f19d61 19%
		, #f19858 24%, #ec863e 48%, #df7226 52%, #d16112 57%, #d16112 71%,
		#d66515 76%, #d66515 81%, #da6a1a 86%, #e06f1f 100%);
	background: -ms-linear-gradient(top, #f7c29d 0, #f4ac7b 10%, #f3a36c 14%, #f19d61
		19%, #f19858 24%, #ec863e 48%, #df7226 52%, #d16112 57%, #d16112 71%,
		#d66515 76%, #d66515 81%, #da6a1a 86%, #e06f1f 100%);
	background: linear-gradient(top, #f7c29d 0, #f4ac7b 10%, #f3a36c 14%, #f19d61 19%,
		#f19858 24%, #ec863e 48%, #df7226 52%, #d16112 57%, #d16112 71%,
		#d66515 76%, #d66515 81%, #da6a1a 86%, #e06f1f 100%)
}

.g-btn .g-klmicon {
	font-size: 1.3em;
	vertical-align: middle
}

.g-btn-backward .g-klmicon {
	margin-right: 5px
}

.g-btn-forward .g-klmicon {
	margin-left: 5px
}

.g-btn-disabled span,.g-btn-disabled:hover span,.g-btn-disabled:focus span,.g-btn[disabled] span
	{
	color: #b2b2b2;
	border-color: #717171;
	border-top-color: #d1d1d1;
	border-left-color: #d1d1d1;
	cursor: default;
	background: #d9d9d9;
	background: -moz-linear-gradient(top, #d9d9d9 0, #d9d9d9 6%, #dedede 12%, #dedede
		18%, #e5e5e5 29%, #e9e9e9 47%, #e5e5e5 53%, #d6d6d6 59%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9d9),
		color-stop(6%, #d9d9d9), color-stop(12%, #dedede),
		color-stop(18%, #dedede), color-stop(29%, #e5e5e5),
		color-stop(47%, #e9e9e9), color-stop(53%, #e5e5e5),
		color-stop(59%, #d6d6d6), color-stop(100%, #d6d6d6) );
	background: -webkit-linear-gradient(top, #d9d9d9 0, #d9d9d9 6%, #dedede 12%, #dedede
		18%, #e5e5e5 29%, #e9e9e9 47%, #e5e5e5 53%, #d6d6d6 59%, #d6d6d6 100%);
	background: -o-linear-gradient(top, #d9d9d9 0, #d9d9d9 6%, #dedede 12%, #dedede 18%,
		#e5e5e5 29%, #e9e9e9 47%, #e5e5e5 53%, #d6d6d6 59%, #d6d6d6 100%);
	background: -ms-linear-gradient(top, #d9d9d9 0, #d9d9d9 6%, #dedede 12%, #dedede 18%
		, #e5e5e5 29%, #e9e9e9 47%, #e5e5e5 53%, #d6d6d6 59%, #d6d6d6 100%);
	background: linear-gradient(top, #d9d9d9 0, #d9d9d9 6%, #dedede 12%, #dedede 18%,
		#e5e5e5 29%, #e9e9e9 47%, #e5e5e5 53%, #d6d6d6 59%, #d6d6d6 100%)
}

.g-btn-disabled,.g-btn[disabled] {
	cursor: default
}