/*
 * styles for social media in klm.com
 */

/*
 * general styles, NOT for positioning
 * specifics via extra classNames or id's
 */
.dd-social-media-share-buttons {
	visibility: hidden;
}

.dd-social-media-share-buttons h3 {
	color: #003145;
	display: inline;
	vertical-align: text-bottom;
	font-weight: normal;
	font-size: 11px;
}

.dd-social-media-share-buttons ul {
	display: inline;
	margin: 0 0 0 7px;
}

.dd-social-media-share-buttons li {
	display: inline;
}

/* social media in the header */
#page-share-buttons {
	float: right;
	margin-top: -6px; /* align with breadcrumbs */
	position: relative; /* prevents IE6 from clipping icons */
}

/* social media in the larged images */
div#image-box .dd-social-media-share-buttons h3 {
	color: #FFF;
	display: inline;
	font-weight: normal;
	font-size: 11px;
	padding: 0;
}

div#image-box .dd-social-media-share-buttons ul {
	float: right;
	margin: -4px 0 0 7px;
}

div#image-box #image-share-buttons {
	text-align: right;
	padding: 16px 10px 12px;
}