#myalogin {
    color: #00a1de;
    font-family: Verdana,serif;
    font-size: 11px;
    line-height: 150%;
    overflow: hidden;
    border-right: 1px solid #c2deea;
    border-left: 1px solid #c2deea;
    /* Styles for positioning here */
    position: absolute;
    /* temp switch */
    right: 0px;
    top: 20px;
    width: 280px;
    z-index: 999; /* Keep on top of country select */
}
#myalogin div {
    height: 21px;
    float: right;
    clear: both;
    white-space: nowrap;
}
#myalogin a,
#myalogin span.mya-loggedin,
#myalogin a:visited {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    font-family: Verdana,serif;
    font-size: 11px;
    color: #00a1de;
    text-decoration: none;
}
#myalogin a:hover {
    text-decoration: underline;
}
#myalogin a.mya-login,
#myalogin span.mya-loggedin {
    background-image: url("//www.klm.com/passage/account/cms/account/images/sprite-loginbox_tcm736-384125.png");
    background-position: 0px 2px;
    padding: 1px 10px 1px 24px;
    border-right: 1px solid #c2deea;
    /* Maximum width for long names */
}
#myalogin span.mya-loggedin {
    color: #003145;
    font-weight: bold;
}
#myalogin a.mya-register,
#myalogin a.mya-logout {
    padding: 1px 10px;
}
#myalogin a.mya-profile {
    background-image: url("//www.klm.com/passage/account/cms/account/images/sprite-loginbox_tcm736-384125.png");
    background-position: 0 -14px; 
    padding: 1px 10px 1px 17px;
    border-right: 1px solid #c2deea;
}
#myalogin a.mya-bookings {
    background-image: url("//www.klm.com/passage/account/cms/account/images/sprite-loginbox_tcm736-384125.png");
    background-position: 0 -31px; 
    padding: 1px 10px 1px 17px;
}
