@charset "windows-1251";
.pb15{ padding-bottom: 15px; }

.pt15 { padding-top: 15px; }

.ptb15 { padding: 25px 0; }

.plr12 { padding: 0 12px;  }

.h1 {	font-size:34px; }
.h2 {	font-size:26px; }

.header {
	font-weight:bold; 
	padding: 15px 0;
	white-space: nowrap; 
    overflow: hidden; 
    padding: 5px;
    text-overflow: ellipsis; 
}

.dotList{ 
	list-style-image: none;
	list-style-type:  disc; 
	margin-left:35px;
}
.dotList li { padding-top: 3px; } 



/* iPad (landscape) ----------- */
@media screen and (max-width:960px) {
	
}

/* ipad (portraid) --------- */
@media only screen and (max-width : 640px) {
	
}	

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 480px) {
	section#page  p {
		color:darkgrey;
		height:50px;
		overflow: hidden; 
	}	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	
}

/*
	img {	  max-width: 100%;	}

	@media only screen and (min-device-width: 640px) and (max-device-width: 960px) { }
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : landscape), only screen and (min-device-pixel-ratio : 1.5) and (orientation : landscape) { }
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : portrait), only screen and (min-device-pixel-ratio : 1.5) and (orientation : portrait) { }
*/