@charset "windows-1251";

.pt15 { padding-top: 15px; }
.ptb15 { padding: 15px 0; }

section#page { padding: 0 12px; }
section#page  header {
	font-size:24px;
	font-weight:bold; 
	padding: 15px 0;
}

.dotList{ 
	list-style-image: none;
	list-style-type:  disc; 
	margin-left:35px;
}
.dotList li { padding-top: 3px; } 



/* iPad (landscape) ----------- */
@media screen and (max-width:960px) {
	
}

/* ipad (portraid) --------- */
@media only screen and (max-width : 640px) {
	
}	

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 480px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	
}

/*
	img {	  max-width: 100%;	}

	@media only screen and (min-device-width: 640px) and (max-device-width: 960px) { }
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : landscape), only screen and (min-device-pixel-ratio : 1.5) and (orientation : landscape) { }
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : portrait), only screen and (min-device-pixel-ratio : 1.5) and (orientation : portrait) { }
*/